{{#if search}}
    <div class="search">
      <form action="/search/{{searchId}}" method="GET">
        <div class="btn-grp">
          <input type="search" name="q" class="first" id="search" value="{{query}}" placeholder="Search....">
          <button type="submit" class="last" id="search-btn"><i class="fas fa-search"></i></button>
        </div>
      </form>
    </div>
    {{/if}}
    {{#if search2}}
    <div class="search">
      <div class="btn-grp">
        <input type="search" name="q" class="first" id="search" value="{{query}}" placeholder="Search....">
        <button type="submit" class="last" id="search-btn"><i class="fas fa-search"></i></button>
      </div>
    </div>
    {{/if}}
<section class="admin-users ml-250">
  <div class="user-container">
    <div class="tab">
      <button id="doctor" class="active"
        onclick="toogleTab3('#doctor', '#patient','#receptionist','#pharmacist', '#doctor-container', '#patient-container','#receptionist-container','#pharmacist-container')">
        <i class="fas fa-user-md"></i>
        Bác sĩ
      </button>
      <button id="pharmacist"
        onclick="toogleTab3('#pharmacist','#doctor','#patient','#receptionist','#pharmacist-container','#doctor-container','#patient-container','#receptionist-container')">
        <i class="fa-solid fa-user-doctor"></i>
        Dược sĩ
      </button>
      <button id="receptionist"
        onclick="toogleTab3('#receptionist','#pharmacist','#doctor','#patient','#receptionist-container','#pharmacist-container','#doctor-container','#patient-container')">
        <i class="fa-solid fa-user-nurse"></i>
        Lễ tân
      </button>
      <button id="patient"
        onclick="toogleTab3('#patient','#doctor','#receptionist','#pharmacist','#patient-container','#doctor-container','#receptionist-container','#pharmacist-container')">
        <i class="fas fa-user-injured"></i>
        Bệnh nhân
      </button>
      <hr />
    </div>
    <div id="doctor-container" class="container active">
      <div class="doctors-display">
        <table>
          <thead>
            <tr>
              <th>
                Ảnh
              </th>
              <th>
                Tên bác sĩ
              </th>
              <th>
                Tên đăng nhập
              </th>
              <th>
                Email
              </th>
              <th>
                Chuyên ngành
              </th>
              <th>
                Nghiên cứu chuyên sâu
              </th>
              <th>
                Chức năng
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each doctor}}
            <tr id="{{this._id}}">
              <td>
                <div>
                  {{#isImage this._id "receptionist"}}
                  <img src="{{this._img}}" alt="" />
                  {{else}}
                  <img src="/images/icons/undraw_male_avatar_323b.svg">
                  {{/isImage}}
                </div>
              </td>
              <td>
                <a href="/stats/{{this._id}}">{{this.name}}</a>
              </td>
              <td>
                <a href="/stats/{{this._id}}">{{this.username}}</a>
              </td>
              <td>
                {{this.email}}
              </td>
              <td>
                {{this.specialised}}
              </td>
              <td>
                {{this.field}}
              </td>
              <td>
                <span class="yes tooltip" onclick="modalup('doctor-block-modal','{{this._id}}')">
                  <i class="fas fa-user-slash"></i>
                  <span class="tooltip-text">Gỡ chặn</span>
                </span>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <div id="pharmacist-container" class="container">
      <div class="doctors-display">
        <table>
          <thead>
            <tr>
              <th>
                Ảnh
              </th>
              <th>
                Tên dược sĩ
              </th>
              <th>
                Tên đăng nhập
              </th>
              <th>
                Email
              </th>
              <th>
                Chức năng
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each pharmacist}}
            <tr id="{{this._id}}">
              <td>
                <div>
                  {{#isImage this._id "pharmacist"}}
                  <img src="{{this.img}}" alt="" />
                  {{else}}
                  <img src="/images/icons/undraw_male_avatar_323b.svg">
                  {{/isImage}}
                </div>
              </td>
              <td>
                <a href="/stats/{{this._id}}">
                  {{this.name}}
                </a>
              </td>
              <td>
                <a href="/stats/{{this._id}}">
                  {{this.username}}
                </a>
              </td>
              <td>
                {{this.email}}
              </td>
              <td>
                <span class="yes tooltip" onclick="modalup('pharmacist-block-modal','{{this._id}}')">
                  <i class="fas fa-user-slash"></i>
                  <span class="tooltip-text">Gỡ chặn</span>
                </span>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <div id="receptionist-container" class="container">
      <div class="doctors-display">
        <table>
          <thead>
            <tr>
              <th>
                Ảnh
              </th>
              <th>
                Tên lễ tân
              </th>
              <th>
                Tên đăng nhập
              </th>
              <th>
                Email
              </th>
              <th>
                Chức năng
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each receptionist}}
            <tr id="{{this._id}}">
              <td>
                <div>
                  {{#isImage this._id "receptionist"}}
                  <img src="{{this._img}}" alt="" />
                  {{else}}
                  <img src="/images/icons/undraw_male_avatar_323b.svg">
                  {{/isImage}}
                </div>
              </td>
              <td>
                <a href="/stats/{{this._id}}">
                  {{this.name}}
                </a>
              </td>
              <td>
                <a href="/stats/{{this._id}}">
                  {{this.username}}
                </a>
              </td>
              <td>
                {{this.email}}
              </td>
              <td>
                <span class="yes tooltip" onclick="modalup('receptionist-block-modal','{{this._id}}')">
                  <i class="fas fa-user-slash"></i>
                  <span class="tooltip-text">Gỡ chặn</span>
                </span>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <div id="patient-container" class="container">
      <div class="doctors-display">
        <table>
          <thead>
            <tr>
              <th>
                Ảnh
              </th>
              <th>
                Tên bệnh nhân
              </th>
              <th>
                Tuổi
              </th>
              <th>
                Giới tính
              </th>
              <th>
                Email
              </th>
              <th>
                Phương thức đăng nhập
              </th>
              <th>
                Chức năng
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each patient}}
            <tr id="{{this._id}}">
              <td>
                {{#isImage this._id "users"}}
                <img class="img" src="/images/users/{{this._id}}.jpg">
                {{else}}
                {{#isNotOAuth this.auth}}
                <img class="img" src="/images/icons/undraw_male_avatar_323b.svg">
                {{else}}
                <img class="img" src="{{this.profileImage}}" alt="">
                {{/isNotOAuth}}
                {{/isImage}}
              </td>
              <td>
                <div>
                  {{this.name}}
                </div>
              </td>
              <td>
                {{this.age}}
              </td>
              <td>
                {{this.gender}}
              </td>
              <td>
                {{this.email}}
              </td>
              <td>
                {{this.auth}}
              </td>
              <td>
                <span class="yes tooltip" onclick="modalup('patient-block-modal','{{this._id}}')">
                  <i class="fas fa-user-slash"></i>
                  <span class="tooltip-text">Gỡ chặn</span>
                </span>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<div class="modal-container">
  <div class="modal doctor-block-modal">
    <h1>
      Bạn có muốn gỡ chặn bác sĩ ?
    </h1>
    <button class="yes" onclick="unblockDoctor()">
      Có
    </button>
    <button class="no" onclick="document.querySelector('.doctor-block-modal').classList.toggle('active')">
      Không
    </button>
  </div>

  <div class="modal pharmacist-block-modal">
    <h1>
      Bạn có muốn gỡ chặn bác sĩ ?
    </h1>
    <button class="yes" onclick="unblockPharmacist()">
      Có
    </button>
    <button class="no" onclick="document.querySelector('.pharmacist-block-modal').classList.toggle('active')">
      Không
    </button>
  </div>

  <div class="modal receptionist-block-modal">
    <h1>
      Bạn có muốn gỡ chặn bác sĩ ?
    </h1>
    <button class="yes" onclick="unblockReceptionist()">
      Có
    </button>
    <button class="no" onclick="document.querySelector('.receptionist-block-modal').classList.toggle('active')">
      Không
    </button>
  </div>

  <div class="modal patient-block-modal">
    <h1>
      Bạn có muốn gỡ chặn bệnh nhân
    </h1>
    <button class="yes" onclick="unblockPatient()">
      Có
    </button>
    <button class="no" onclick="document.querySelector('.patient-block-modal').classList.toggle('active')">
      Không
    </button>
  </div>

  <div class="modal block-sucess-modal">
    <h1>
      Gỡ chặn thành công
    </h1>
    <button class="normal" onclick="document.querySelector('.block-sucess-modal').classList.toggle('active')">
      Đóng
    </button>
  </div>
</div>
<script src="/javascripts/blocked-users-search.js"></script>