<section class="admin-dash ml-250">
    <div class="head">
        <h1>Trang điều khiển Admin</h1>
        <h2>Chào, {{admin.name}}</h2>
    </div>
    <div class="item-container">
        <div class="item-coll">
            <div>
                <img src="/images/icons/undraw_doctors_hwty.svg">
                <h3 class="doctor">Bác sĩ</h3>
            </div>
            <div>
                <h1 class="doctor">{{counts.doctorsCount}}</h1>
            </div>
        </div>
        <div class="item-coll">
            <div>
                <img src="/images/icons/undraw_injured_9757.svg">
                <h3 class="patient">Bệnh nhân</h3>
            </div>
            <div>
                <h1 class="patient">{{counts.patientsCount}}</h1>
            </div>
        </div>
        <div class="item-coll">
            <div>
                <img src="/images/icons/undraw_medicine_b-1-ol.svg">
                <h3 class="pharmacist">Dược sĩ</h3>
            </div>
            <div>
                <h1 class="pharmacist">{{counts.pharmacistCount}}</h1>
            </div>
        </div>
         <div class="item-coll">
            <div>
                <img src="/images/icons/undraw_medical_research_qg4d.svg">
                <h3 class="receptionist">Lễ tân</h3>
            </div>
            <div>
                <h1 class="receptionist">{{counts.receptionistCount}}</h1>
            </div>
        </div>
        <div class="item-coll">
            <div>
                <img src="/images/icons/undraw_Booking_re_gw4j.svg">
                <h3 class="appoinment">Lịch hẹn</h3>
            </div>
            <div>
                <h1 class="appoinment">{{counts.appointmentsCount}}</h1>
            </div>
        </div>
         <div class="item-coll">
            <div>
                <img src="/images/icons/undraw_medical_care_movn.svg">
                <h3 class="medicines">Thuốc</h3>
            </div>
            <div>
                <h1 class="medicines">{{counts.medicinesCount}}</h1>
            </div>
        </div>
         <div class="item-coll">
            <div>
                <img src="/images/icons/undraw_receipt_re_fre3.svg">
                <h3 class="receipt">Hóa đơn</h3>
            </div>
            <div>
                <h1 class="receipt">{{counts.receiptsCount}}</h1>
            </div>
        </div>
    </div>
</section>